<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>162577024912-40hisi1lr06hqmqhrduqjdgq64u1i8fo.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCWdTO03CdErN4bjsQOV1UmfZM9GbmPS_k</string>
	<key>GCM_SENDER_ID</key>
	<string>162577024912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webstock.paguemp</string>
	<key>PROJECT_ID</key>
	<string>markcdia</string>
	<key>STORAGE_BUCKET</key>
	<string>markcdia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162577024912:ios:7a16d1bd21cde17f289515</string>
	<key>DATABASE_URL</key>
	<string>https://markcdia-default-rtdb.firebaseio.com</string>
</dict>
</plist>